body {
    background-color: #e5e5e5;
}

.text-left {
    text-align: left !important;
}

/* === NAVIGATION BAR : START === */
#topnav-menu-content .btn-primary {
    color: #ffffff;
    margin-left: 18px;
}

#TabNavMenu {
    background-color: #fff;
    color: #000000;
    border-color: transparent;
    border-radius: 0;
}

#TabNavMenu .nav-link {
    color: black;
    font-size: 12px;
    border-radius: 100px;
}

#TabNavMenu .nav-link .icon i {
    font-size: 20px;
    padding-bottom: 7px;
}

#TabNavMenu .nav-link {
    border-bottom: 5px solid transparent;
    border-radius: 0;
}

#TabNavMenu .nav-link.active {
    background-color: transparent;
    color: #5e21d8;
    width: 100%;
    border-radius: 0px;
    border-bottom: 5px solid #5e21d8;
}
/* === NAVIGATION BAR : END === */

/* === LIST PRODUCT : START === */
#list-product-wrapper .card {
    background-color: #ffffff;
    position: relative;
    height: 100%;
    border-radius: 16px;
    border: 0;
}

#list-product-wrapper .card-title, .card-text {
    color: #000000 !important;
}

#list-product-wrapper .card .card-img-top {
    width: 70%;
    max-height: 172px;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    margin-top: -50px;
}

#list-product-wrapper .card-body {
    text-align: center;
    padding: 15px 10px 0px 10px;
}

#list-product-wrapper .card-body h5,
p {
    font-size: 12px;
}

#list-product-wrapper .card-body .card-text {
    color: #6c757d;
}

#list-product-wrapper .card-footer {
    width: 100%;
    background-color: transparent;
    border-top: 0;
    padding: 0px 10px 15px 10px;
}

#list-product-wrapper .buttonSelect {
    background-color: #5e21d8;
    border-color: #5e21d8;
    font-size: 12px;
    width: 100%;
    border-radius: 100px;
    transition: 0.2s ease-out;
}

#list-product-wrapper .buttonSelect:hover {
    filter: brightness(85%);
    transition: 0.2s ease-in;
}
/* === LIST PRODUCT : END === */

/* === TOP FOOTER : START === */
#top-footer {
    position: relative;
    background-color: #5e21d8;
    color: #fff;
    margin: 55px 0px 50px 0px;
    z-index: 10;
    border-bottom: 1px solid #ffffff !important;
}

#top-footer .black-strip {
    background-color: #ffffff;
}

#top-footer .list-pembayaran img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0px 10px;
}

#top-footer .footer-links a {
    color: #ffffff;
    padding: 2px 0px;
}

.footer {
    background-color: #5e21d8;
    color: #ffffff;
    
}
/* === TOP FOOTER : END === */


/* === PAGE PEMBAYARAN : START === */
#page-pembayaran .border-primary {
    border-color: transparent !important;
}

#lengkapi-data input {
    border: 1px solid #9e9e9e;
}

#lengkapi-data input:focus {
    border-color: #5e21d8;
}

#pilih-nominal .btn {
    background-color: #ffffff;
    border: 1px solid #e4e4e4 !important;
}

#pilih-nominal .btn:hover {
    background-color: rgb(67, 38, 125, 0.5) !important;
    border: 1px solid #5e21d8 !important;
    color: #ffffff !important;
}

#accordionTipePembayaran .card-header img {
    width: 50px;
    object-fit: contain;
    margin: 0px 5px;
}
/* === PAGE PEMBAYARAN : END === */

/* === RESPONSIVE CSS === */
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* --- NAVIGATION BAR : START */
    #TabNavMenu .nav-link {
        font-size: 14px;
    }
    /* --- NAVIGATION END : START */
    
    /* --- LIST PRODUCT : START --- */
    #list-product-wrapper .card {
        height: 100%;
    }

    #list-product-wrapper .card-body h5,
    p {
        font-size: 14px;
    }

    #list-product-wrapper .buttonSelect {
        font-size: 14px;
    }
    /* --- LIST PRODUCT : END --- */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* --- LIST PRODUCT : START --- */
    #list-product-wrapper .card .card-img-top {
        width: 65%;
        object-fit: contain;
        margin-top: -75px;
    }

    #list-product-wrapper .gy-5 {
        --bs-gutter-y: 6.5rem;
    }
    /* --- LIST PRODUCT : END --- */
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}