/* === NAVIGATION BAR : START === */
.nav-pills {
    background-color: #43267D;
    color: #ffffff;
    border-color: transparent;
    border-radius: 0;
}

.nav-pills .nav-link {
    color: #ffffff;
}

.nav-pills .nav-link.active {
    background-color: #ffffff;
    color: #43267D;
    /* border-bottom: 3px solid #ffffff; */
    width: 100%;
    border-radius: 100px;
}
/* === NAVIGATION BAR : END === */

#list-product-wrapper .card {
    position: relative;
    height: 100%;
    border-radius: 16px;
    border: 0;
    box-shadow:
        100px 100px 80px rgba(0, 0, 0, 0.05);

}

#list-product-wrapper .card .card-img-top {
    width: 75%;
    max-height: 172px;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    margin-top: -35px;
    border: 2px solid #43267D;
}

#list-product-wrapper .card-body {
    text-align: center;
    padding: 15px 10px 0px 10px;
}

#list-product-wrapper .card-body h5,
p {
    font-size: 12px;
}

#list-product-wrapper .card-body .card-text {
    color: #6c757d;
}

#list-product-wrapper .card-footer {
    width: 100%;
    background-color: transparent;
    border-top: 0;
    padding: 0px 10px 15px 10px;
}

#list-product-wrapper .buttonSelect {
    background-color: #43267D;
    border-color: #43267D;
    font-size: 12px;
    width: 100%;
    border-radius: 100px;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #list-product-wrapper .card {
        height: 100%;
    }

    #list-product-wrapper .card-body h5,
    p {
        font-size: 14px;
    }

    #list-product-wrapper .buttonSelect {
        font-size: 14px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}